.App {
  font-family: sans-serif;
  text-align: center;
}


.form-container{
     /* border: 1px solid red; */
     display: flex;
     justify-content: center;
     margin: 20px;
}

label{
/* border: 1px solid red; */
  display: block;
  text-align: left;
}

input{
  margin-bottom: 20px;

}

.buttonBlock{
  text-align: center;
  display:block;
  margin: 0 auto;
}